@mixin devices($breakpoint) {
    @if $breakpoint == 'tablet' {
      @media only screen and (min-width: 680px) {
        @content;
      }
    }
  
    @if $breakpoint == 'desktop' {
      @media only screen and (min-width: 990px) {
        @content;
      }
    }
  }
  
  h1 {
    font-size: 20px;
  
    @include devices('tablet') {
      font-size: 24px;
    }
  
    @include devices('desktop') {
      font-size: 32px;
    }
  }



button{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: $secondary-color;
    border: none;
    box-shadow: 10px;
    &:hover{
        background-color: $tertiary-color;
    }
    &:active{
        color: $standard-white;
    }
}


ol{
    font-size: 20px;
    padding: 10px;
}

